.project-card {    
    background: var(--bg-card);
    border-radius: 16px;
    padding: 24px;

    display: flex;
    flex-direction: column;
    gap: 14px;

    height: 100%;

    box-shadow:
        inset 0 1px 2px rgba(255,255,255,0.04),
        0 8px 20px rgba(0,0,0,0.35);
    
    transition: 
        box-shadow 0.5s ease,
        transform 0.3s ease;
}

.project-card:hover {
    box-shadow: 
        inset 0 1px 2px rgba(255, 255, 255, 0.06),
        0 0 0 1px rgba(255, 255, 255, 0.15),
        0 0 24px var(--card-glow-soft),
        0 10px 28px var(--card-glow);

    transform: translateY(-0.6px);
}

.card-header {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 12px;
    align-items: start;
}

.project-image {
    width: 120px;
    height: 150px;
    flex-shrink: 0;
}

.project-image img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.project-title {
    font-size: 1.1rem;
    color: var(--text-main);
}

.project-actions {
    display: flex;
    gap: 12px;    
}

.project-actions a {
    font-size: 0.85rem;
    color: var(--accent);
    text-decoration: none;
}

.project-actions a:hover {
    text-decoration: underline;
}

.project-description {
    margin-top: auto;
    font-size: 0.95rem;
    color: var(--text-muted);
    line-height: 1.5;
}

.projects-container {
    flex: 1;
    display: flex;    
    align-items: stretch;    
    width: 100%;    
    position: relative;
    
}

.projects-grid {
    flex: 1;
    width: 100%;
    height: 100%;    
    display: grid;
    padding: 0 34px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 24px;
    align-items: stretch;
    
}

.nav-arrow {
    position: absolute; /* Salen del flujo, no ocupan espacio real */
    top: 50%;
    transform: translateY(-50%); /* Centrado vertical perfecto */
    background: none;
    border: none;
    font-size: 2.5rem;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    z-index: 100;
    transition: all 0.3s ease;
}

.nav-arrow.left {
    left: 0;     
}

.nav-arrow.right {
    right: 0;    
}

.nav-arrow:hover:not(.disabled) {
    color: var(--accent);
    transform: translateY(-50%) scale(1.2);
}

.nav-arrow.disabled {
    color: rgba(255, 255, 255, 0.1);
    cursor: default;
    pointer-events: none;
}

/* RESPONSIVE */
@media (max-width: 660px) {
    .nav-arrow {
        display: none; /* Desaparecen las flechas */
    }

    .projects-grid {
        grid-template-columns: 1fr; 
        padding: 20px;        
    }
  
    .projects-container {
        overflow: visible;
    }
}