.project-card {    
    background: var(--bg-card);
    border-radius: 16px;
    padding: 20px;

    display: block;
    overflow: hidden;
    text-align: left;    

    height: 100%;

    box-shadow:
        inset 0 1px 2px rgba(255,255,255,0.04),
        0 8px 20px rgba(0,0,0,0.35);
    
    transition: 
        box-shadow 0.5s ease,
        transform 0.3s ease;
}

.project-card:hover {
    box-shadow: 
        inset 0 1px 2px rgba(255, 255, 255, 0.06),
        0 0 0 1px rgba(255, 255, 255, 0.15),
        0 0 24px var(--card-glow-soft),
        0 10px 28px var(--card-glow);

    transform: translateY(-0.6px);
}

.project-floating-image {
    float: left;
    width: 110px;
    height: 110px;
    margin-right: 15px;
    margin-bottom: 5px;
    margin-top: 0;
    border-radius: 8px;
    object-fit: cover;
}

.project-header-row {
    display: block;    
    margin-bottom: 0;
}

.project-header-row h3 {
    margin-top: 0;
    line-height: 1.2;
    font-size: 1.2rem;
    color: var(--text-main);
}

.project-links {
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin-top: 5px 0 8px 0;
}

.project-links a {
    padding: 0;
    color: var(--accent);
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 500;
}

.project-description {
    text-align: justify;    
    font-size: 0.85rem;
    color: var(--text-muted);
    line-height: 1.4;
    margin: 0;
}

.projects-container {
    flex: 1;
    display: flex;    
    align-items: stretch;    
    width: 100%;    
    position: relative;
    
}

.projects-grid {
    flex: 1;
    width: 100%;    
    display: grid;
    padding: 0 34px;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    gap: 20px;
    align-items: stretch;
    
}

.nav-arrow {
    position: absolute; /* Salen del flujo, no ocupan espacio real */
    top: 50%;
    transform: translateY(-50%); /* Centrado vertical perfecto */
    background: none;
    border: none;
    font-size: 2.5rem;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    z-index: 100;
    transition: all 0.3s ease;
}

.nav-arrow.left {
    left: 0;     
}

.nav-arrow.right {
    right: 0;    
}

.nav-arrow:hover:not(.disabled) {
    color: var(--accent);
    transform: translateY(-50%) scale(1.2);
}

.nav-arrow.disabled {
    color: rgba(255, 255, 255, 0.1);
    cursor: default;
    pointer-events: none;
}

/* RESPONSIVE */
@media (max-width: 980px) {
    .nav-arrow {
        display: none; /* Desaparecen las flechas */
    }

    .projects-grid {
        grid-template-columns: 1fr;
        grid-auto-rows: 1fr; 
        padding: 2px;
        gap: 16px;
    }

    .project-card {        
        height: 100%;
    }

    .project-floating-image {
        width: 90px;
        height: 90px;
    }
  
    .projects-container {
        overflow: visible;
    }
}