.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  animation: fadeIn 0.4s ease;
}

.modal-content {
  background: var(--bg-card);
  border: 1px solid var(--border-subtle);
  border-radius: 20px;
  position: relative;
  padding: 40px;
  max-height: 90vh;
  overflow-y: auto;
  color: var(--text-main);
  box-shadow: 0 20px 50px rgba(0,0,0,0.5);
}

/* Tamaños dinámicos */
.modal-content.large { width: 90%; height: 90%; }
.modal-content.medium { width: 600px; height: auto; }
.modal-content.small { width: 400px; height: auto; }

.modal-close {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  color: var(--text-muted);
  font-size: 2rem;
  cursor: pointer;
  /*animation: fadeOut 0.35s ease;*/
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}


/*@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}*/