.footer {  
  min-height: 48px;  
  background: linear-gradient(to bottom, transparent, var(--bg-footer));
  color: var(--text-main);
  opacity: 0.5;
  font-size: 0.85rem;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
}